a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #b7b7b7;
    background-color: #010101;
}



/*body *:not(.nav):not(.nav-items) {
    padding: 20%;
}*/

.container {
    padding: 10%;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    /*flex-direction: row;*/
    /*justify-content: flex-end;*/
}

.nav-items {
    /*justify-content: flex-center;*/
    padding: 9px;
}

.nav-items>a {
    color: #90EF32;
}

.f1:hover {
    background-color: grey;
}

.f2:hover {
    background-color: #000fff;
}

.f3:hover {
    background-color: grey;
}

.f4:hover {
    background-color: #000fff;
}

.f5:hover {
    background-color: grey;
}



.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    /*justify-items: center;
    align-items: center;*/
}

.skills-items {
    border: 1px/*solid grey*/;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-items img {
    width: 80%;
    height: 80%;
    padding: 20px;
}

.button {
    border: 1px solid #1e1e1e;
    background-color: red;
    color: black;
    padding: 1%;
    margin-top: 2px;
    argin-right: 10px;
}

.capital {
    text-transform: uppercase;
}

.education {
    display: grid;
    padding: 1%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    /*border: 2px solid grey;*/
    font-size: 140%;
}

.form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-gap: 1%;
    margin-left: 0%;
    grid-auto-columns: 100%;
    /*justify-items: center;*/
}

.responsive-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    border: 0;
    margin-top: 10%;
    margin-left: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 150%;
    /*margin-bottom: -10px;*/
    animation-name: example;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        color: red;
    }

    to {
        color: yellow;
    }
}

#about h3,
h4.capital {
    margin-bottom: -10px;
    padding-top: 5%;
}

.year {
    /*padding: 30%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid white ;*/
}

.about {
    position: relative;
}

.about,
.contact,
.portfolio,
.skills,
footer {
    text-align: center;
}

h1.skills {
    display: block;
    /*text-align: right;*/
}

.responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 0%;
}

.explanation {
    margin-bottom: 30px;
    text-align: justify;
    font-family: monospace;
    padding-left: 20%;
    padding-right: 20%;
}

@media(max-width: 450px) {
    .nav {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 360px) {
    .skills {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5%;
    }
    /*.skills-items1{
        grid-row: 6/7;
        grid-column: 1/3;
        padding-left: 13px;
    }*/
}

@media screen and (max-width: 768px) {
    .explanation {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (min-width: 768px)
/*and (max-width: 900px)*/

{
    .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5%;
    }
    .form {
        grid-auto-columns: 60%;
        margin-left: 9%;
    }
    .year {
    border: 1px solid white ;

    }
    .education_details{
        border: 1px solid white;
        font-weight: bolder;
    font-size: 120%;
    }
    .year p{
        font-weight: bolder;
    font-size: 120%;
    }
    .education {
    /*border: 2px solid grey;*/
    grid-column-gap: 0%;
    }
    
}

.profile {
    color: white;
    -webkit-text-stroke: 0.5px magenta;
    font-size: 120%;
}